In [2]:
import numpy as np

import pandas as pd
from pandas import Series, DataFrame

# Summary

- create a series
- check index
- check value
- assign index
- filter by logic/index
- convert a series into a dictionary
- convert dictionary into series
- addition between series and series
- assign a name to the series
- name the index

# Development

In [2]:
## Series is an array, however elements have an index
obj = Series(['uno','due','tre'])
print("Each value has an index")
print(obj)
print(obj.values)
print(obj.index)
obj[2]

Each value has an index
0    uno
1    due
2    tre
dtype: object
['uno' 'due' 'tre']
RangeIndex(start=0, stop=3, step=1)

'tre'

In [4]:
ww2_cas = Series([87,86,45,32,21],index=['USSR','USA','CHINA','GER','FRA'])
ww2_cas

USSR     87
USA      86
CHINA    45
GER      32
FRA      21
dtype: int64

In [5]:
# Use index values to select series values
ww2_cas["GER"]

32

In [6]:
# Check logic operation
print(ww2_cas[ww2_cas > 80])

# Treat series as dictionaries - check if value is in the series indexes
'USSR' in ww2_cas

USSR    87
USA     86
dtype: int64

True

In [7]:
# Convert a series into a dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 87, 'USA': 86, 'CHINA': 45, 'GER': 32, 'FRA': 21}

In [8]:
# You can turn a dictionary into a series
ww2_series = Series(ww2_dict)
ww2_series
# ww2_cas[ww2_cas > 40]

USSR     87
USA      86
CHINA    45
GER      32
FRA      21
dtype: int64

In [9]:
## Apply series Series[87,86,45,32,21]
## Dictionary to Series assigning the index from a LIST
Countries = ['USSR','USA','CHINA','GER','FRA','GRC']
obj2 = Series(ww2_dict, index = Countries)
print(
obj2,
pd.isnull(obj2),
pd.notnull(obj2))

USSR     87.0
USA      86.0
CHINA    45.0
GER      32.0
FRA      21.0
GRC       NaN
dtype: float64 USSR     False
USA      False
CHINA    False
GER      False
FRA      False
GRC       True
dtype: bool USSR      True
USA       True
CHINA     True
GER       True
FRA       True
GRC      False
dtype: bool

In [11]:
## Addition between series and series by INDEX - they will automatically allign by index
obj3 = ww2_series + obj2
obj3.name = "World War 2 casualites"
obj3

CHINA     90.0
FRA       42.0
GER       64.0
GRC        NaN
USA      172.0
USSR     174.0
Name: World War 2 casualites, dtype: float64

In [15]:
# Assign a name to the series
obj3.name

'World War 2 casualites'

In [16]:
# name the index (same as naming the column in Excel)
obj3.index.name = "Casualties"
obj3

Casualties
CHINA     90.0
FRA       42.0
GER       64.0
GRC        NaN
USA      172.0
USSR     174.0
Name: World War 2 casualites, dtype: float64

Series have an index
Numericaly filter (> XX) and will return the index values
Series an become disctionary
Dictionary can be turned into Series

In [12]:
objx = Series(ww2_dict, index = Countries[1:3])

In [13]:
type(objx)

pandas.core.series.Series

# SUMMARY - RECAP

- create a series
- check index
- check value
- assign index
- filter by logic/index
- convert a series into a dictionary
- convert dictionary into series
- addition between series and series
- assign a name to series
- assign a name to the index

1     1
2     2
3     3
4     4
5a    5
dtype: int64
Index(['1', '2', '3', '4', '5a'], dtype='object')
[1 2 3 4 5]
index name
1     1
2     2
3     3
4     4
5a    5
Name: GEneral name, dtype: int64

5