In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import json

from numpy.random import randn
from numpy.random import randint

# Summary

- Text files (read_csv; to_csv)
- Json (json.read, json.dump)
- HTML (skip)
- Excel

# Development

### Text files

In [6]:
# dframe = pd.read_csv('./in_out/lec25.csv', header=None)

# print(dframe)

dframe1 = pd.read_table('./in_out/lec25.csv', sep=',', header=None)

print(dframe1)

dframe2 = pd.read_csv('./in_out/lec25.csv', header=None, nrows=2)

print(dframe2)

dframe.to_csv('./in_out/out_test_1.csv')

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog
   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

### Json

In [7]:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [11]:
json_load2 = json.loads(json_obj)
print(json_load2)

# some parts can be conveted in a DF
dfjson = DataFrame(json_load2['diet'])
dfjson

{'zoo_animal': 'Lion', 'food': ['Meat', 'Veggies', 'Honey'], 'fur': 'Golden', 'clothes': None, 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

  zoo_animal   food    fur
0    Gazelle  grass  Brown

### Excel

In [37]:
xlsfile = pd.ExcelFile('./in_out/Lec_28_test.xlsx')

In [39]:
dframe = xlsfile.parse('Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

# SUMMARY - RECAP

- Text files (read_csv; to_csv)
- Json (json.read, json.dump)
- HTML (skip)
- Excel (pd.ExcelFile; xlsfile.parse)